body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

textarea {
  display: block;
  width: 600px;
  height: 200px;
}


.decoded {
  width: 800px;
  overflow: auto;
  border: 1px solid #eee;
  padding: 15px;
  background: #f7f7f7;

}